doctype html
html(lang="en")
  head
    title Multipurpose labels
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/assets/css/css/main.css")
  body
    form.form-container
      .user
        span U^R
      .form-group
        input.text(type="email")
        label Email Address
      .form-group
        input.text(type="password")
        label Password
      .form-control
        input(type="submit", value="LOGIN")
    script(src="/assets/js/jquery-2.1.4.js")
    script(src="/assets/js/app.js")
